@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  /* overflow: hidden; */
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header,
.App-footer {
  width: 100%;
  background: white;
  color: black;
  padding: 1rem;
}

.App-header {
  text-align: left;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: orange;
}

.hamburger {
  background: none;
  border: none;
}

.App-footer .btn-line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.App-footer > .plus-button {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  background: orange;
  border: 4px solid white;
  border-radius: 50%;
  margin-inline: auto;
}

.github-icon {
  color: white;
  font-size: 2.5rem;
}

/* .section-content {
  background: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
} */

.section-img-and-info {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-image {
  width: 70%;
  max-width: 350px;
  opacity: 0.8;
}

.section-content-info {
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: 1.1em;
  font-weight: 300;
  /* padding: 10px 30px; */
}

.status-text {
  white-space: pre;
}

.modal {
  padding: 0;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  display: flex;
  align-items: center;
}

.close-modal {
  grid-column: 2/3;
  font-size: 1.5em;
  background: transparent;
  border: none;
  opacity: 0.6;
  align-self: start;
  justify-self: center;
}

.task-editor {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 10px;
  flex-direction: column;
}
.input-fields {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.extra-fields {
  grid-column: 1/2;
  grid-row: 2/3;
}
.task-title-input,
.task-description-input {
  border: none;
  padding: 10px;
}
.task-description-input {
  font-size: 0.8em;
  height: 7ch;
  resize: none;
}
.pills {
  display: flex;
  gap: 10px;
  padding: 6px;
}
.due-date-button,
.folder-select-button {
  padding: 0.5rem 0.3rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 0.9em;
  width: 100%;
}

.due-date-button {
  display: flex;
  align-items: center;
  gap: 3px;
}

.submit-button {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 30px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
  align-self: flex-end;
}
.submit-button-icon {
  font-size: 1.5em;
}
.submit-button-icon,
.manage-projects-icon,
.icon {
  width: 25px;
  opacity: 0.6;
}
